<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cath-genda</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div class="container contenido">
      <h2 class="heading">Organiza tus pendientes</h2>
      <div class="row" id="app">
        <div class="col-md-6">
          <button type="button" class="btn btn-lg btn-pdnt" @click="cambiarMostrar">Pendientes por hacer <img class="icons" src="assets/img/to-do.png" alt="icon to-do"></button>
          <div class="conten-lista" v-if="mostrar">
            <div v-for="pendiente in pendientes">{{pendiente.categoria}}
              <ul class="list-group">
                <li v-if="tarea.status === false" v-for="(tarea, index) in tareas" class="list-group-item" :class="{editing: tarea.edit}">
                  <div>
                    <a @click="cambiarStatus(tarea)"><span class="glyphicon" aria-hidden="true" :class="tarea.status ? 'glyphicon-check' : 'glyphicon-unchecked'"></span></a>
                    <template v-if="!tarea.edit">
                      <span class="vert-al">{{tarea.nombre}}</span>
                      <a @click="eliminarTarea(index)"><img src="assets/img/trash.png" class="icons-action"></a>
                      <a @click="editarTarea(tarea)"><img src="assets/img/edit.png" class="icons-action"></a>
                    </template>

                    <template v-else>
                      <input type="text" name="" v-model="borrador">
                      <a @click="deshacerTarea(tarea)"><img src="assets/img/trash.png" class="icons-action"></a>
                      <a @click="actualizarTarea(tarea)"><img src="assets/img/save.png" class="icons-action"></a>
                    </template>

                  </div>
                </li>
              </ul>
            </div>

              <form class="form-ntarea" @submit="checkForm" method="post">
                <input type="text" placeholder="Nombre categoria" v-model="categ" class="form-control input-nt" id="categ" v-model="categ" type="text" name="categ">
                <input type="text" placeholder="Tarea" v-model="new_tarea" class="form-control input-nt" id="new_tarea" v-model="new_tarea" type="text" name="new_tarea">
                <button type="submit" class="btn nueva-t btn-int" @click="createTarea(checkForm)">Agregar nuevo pendiente<img src="assets/img/add.png" class="icons"></button>
              </form>

          </div>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-lg btn-pdnt" @click="changeShow"><img class="icons" src="assets/img/do.png" alt="icon do"> Pendientes terminados</button>
          <div class="conten-lista" v-if="show">
            <div v-for="pendiente in pendientes">{{pendiente.categoria}}
              <ul class="list-group">
                <li v-if="tarea.status === true" v-for="(tarea, index) in tareas" class="list-group-item" :class="{editing: tarea.edit, disabled: tarea.status}">
                  <div>
                    <a @click="cambiarStatus(tarea)"><span class="glyphicon" aria-hidden="true" :class="tarea.status ? 'glyphicon-check' : 'glyphicon-unchecked'"></span></a>
                    <template v-if="!tarea.edit">
                      <span class="vert-al">{{tarea.nombre}}</span>
                      <a @click="eliminarTarea(index)"><img src="assets/img/trash.png" class="icons-action"></a>
                      <a @click="editarTarea(tarea)"><img src="assets/img/edit.png" class="icons-action"></a>
                    </template>

                    <template v-else>
                      <input type="text" name="" v-model="borrador">
                      <a @click="deshacerTarea(tarea)"><img src="assets/img/trash.png" class="icons-action"></a>
                      <a @click="actualizarTarea(tarea)"><img src="assets/img/save.png" class="icons-action"></a>
                    </template>

                  </div>
                </li>
              </ul>
            </div>

              <form class="form-ntarea" @submit.prevent="createTarea">
                <button type="button" class="btn btn-block btn-int" name="elim-Complet" v-on:click="eliminarCompletadas">Eliminar tareas completadas <img src="assets/img/flag.png" class="icons"></button>
              </form>
          </div>
        </div>

      </div>
    </div>
    <script type="text/javascript" src="assets/js/vue.js"></script>
    <script type="text/javascript" src="assets/js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
