body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Montserrat', sans-serif;
  background-color: #fffcf4;
}

.contenido {
  text-align: center;
  margin: 2% auto;
}

.heading {
    font-weight: bolder;
    color: #3883B2;
    margin: 2%;
}

.icons {
  width: 10%!important;
  margin: 10px;
}

.btn-pdnt {
  margin: 1.5% auto;
  background-color: #a0dcf3;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding: 0!important;
}

.conten-lista{
  background-color: #ffffff;
  padding: 20px;
  margin: auto;
}

.vert-al{
  vertical-align: sub;
}

.al-check{
  margin-top: 2%;
}

.icons-action{
  width: 6%;
  margin: auto;
  float: right;
}

.editing{

}

.disabled{
  color: #777;
  filter: grayscale(1);
}

.form-ntarea{
  padding: 10px;
}

.input-nt{
    width: 48%;
    display: initial;
}

.nueva-t{
  width: 48%;
  display: initial;
  margin: 1%;
}

.btn-int{
  background-color: #f3eea2;
}
